﻿@model Asa.MapApi.Models.ViewModels.FormViewModel
@{
    ViewBag.Title = "Map Demo";
}



<div id="map" style="
        width: 100%;
        height: 100%;
        background-color: #a9a9a9
">
    <button type="button" id="addPoi" class="btn btn-primary" data-toggle="modal" data-target="#formModal" style="float: left; position: absolute; margin: 20px 100px; z-index: 1500;">
        Agregar POI
    </button>

    <div class="modal fade" id="formModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Carga de POIs</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    @using (Html.BeginForm("ValidateForm", "Api", FormMethod.Post))
                    {
                        <table>


                            <tr>
                                <td>@Html.LabelFor(e => e.Nombre)</td>
                                <td>@Html.TextBoxFor(e => e.Nombre, new { @class = "form-control", @placeholder = "Ej:Av. Madero 1021" })</td>
                            </tr>
                            <tr>
                                <td>@Html.LabelFor(e => e.Direccion)</td>
                                <td>@Html.TextBoxFor(e => e.Direccion, new { @class = "form-control", @placeholder = "Ej:Av. Madero 1020" })</td>
                            </tr>
                            <tr>
                                <td>@Html.LabelFor(e => e.Telefono)</td>
                                <td>@Html.TextBoxFor(e => e.Telefono, new { @class = "form-control", @placeholder = "Ej:54 9 11 5272 0900" })</td>
                            </tr>
                            <tr>
                                <td>@Html.LabelFor(e => e.Categoria)</td>
                                <td>
                                    <select class="form-control" id="selectCustom" name="Categoria">
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td><label class="mylabel">Coord.</label></td>
                                <td><input class="form-control" type="text" name="coordinates" placeholder="Ej:-34.595986,-58.3724715" /></td>
                            </tr>
                            <tr>
                                <td colspan="2"><button id="buttonAdd" class="form-control" type="submit">Agregar</button></td>
                            </tr>

                        </table>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script type="text/javascript" src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="https://js.arcgis.com/3.31/"></script>
    <script type="text/javascript" src="~/Scripts/Asa.MapApi.js"></script>
    <script type="text/javascript" src="~/Scripts/customer.js"></script>
}




